body {
  font-family: "Poppins", sans-serif;
  background: linear-gradient(135deg, #d1521c, #6b1e095d);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  color: #331212;
}

.container {
  background: linear-gradient(90deg, #e4bacccc, #3c8ed191);
  padding: 25px;
  border-radius: 15px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
  text-align: center;
  width: 300px;
}

h1 {
  font-size: 22px;
  margin-bottom: 20px;
}

#advice {
  font-size: 18px;
  font-style: italic;
  margin: 20px 0;
  min-height: 50px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #0beb3b9f;
  color: rgb(95, 0, 0);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #25b94a;
}
